body {
    font-family: Arial, Helvetica, sans-serif;
}

.header-table,
.main-table,
.variants-table,
.specs-table {
    width: 100%;
}

.header-table tr, 
.header-table td {
    vertical-align: top;
}

.variants-table tr,
.variants-table td,
.specs-table tr, 
.specs-table td {
    padding: 10px 0;
    vertical-align: top;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
}

.variants-table {
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    margin: 40px 0 0;
    padding: 40px 0;
    page-break-after: always;
}

.specs-table {
    margin: 40px 0;
    padding: 40px 0 0;
}

.specs-table + .specs-table {
    margin: 0 0 40px;
    padding: 40px 0;
}

.energy-efficiency {
    color: #fff;
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 15px;
    height: 25px;
    margin: 0 5px;
    min-width: 40px;
    padding: 5px;
    position: relative;
    text-align: left
}

.energy-efficiency:after {
    content: "";
    border-style: solid;
    border-width: 12.5px 0 12.5px 10px;
    height: 0;
    width: 0;
    position: absolute;
    right: -10px;
    top: 0
}

.energy-efficiency.AAAA {
    background: #00a956
}

.energy-efficiency.AAAA:after {
    border-color: transparent transparent transparent #00a956
}

.energy-efficiency.AAA {
    background: #00a956
}

.energy-efficiency.AAA:after {
    border-color: transparent transparent transparent #00a956
}

.energy-efficiency.AA {
    background: #00a956
}

.energy-efficiency.AA:after {
    border-color: transparent transparent transparent #00a956
}

.energy-efficiency.A {
    background: #00a956
}

.energy-efficiency.A:after {
    border-color: transparent transparent transparent #00a956
}

.energy-efficiency.B {
    background: #53ba4c
}

.energy-efficiency.B:after {
    border-color: transparent transparent transparent #53ba4c
}

.energy-efficiency.C {
    background: #bed92b
}

.energy-efficiency.C:after {
    border-color: transparent transparent transparent #bed92b
}

.energy-efficiency.D {
    background: #fff400
}

.energy-efficiency.D:after {
    border-color: transparent transparent transparent #fff400
}

.energy-efficiency.E {
    background: #fdb905
}

.energy-efficiency.E:after {
    border-color: transparent transparent transparent #fdb905
}

.energy-efficiency.F {
    background: #f57428
}

.energy-efficiency.F:after {
    border-color: transparent transparent transparent #f57428
}

.energy-efficiency.G {
    background: #ef2f2f
}

.energy-efficiency.G:after {
    border-color: transparent transparent transparent #ef2f2f
}