/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.donorfy_settings {
    float: left; 
    padding-right: 1%;
    width: 74%;
}

.donorfy_logo {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    float: left; 
    width: calc(25% - 2px);
}

.donorfy_logo img {
    display: block;
    height: auto; 
    width: 100%;
}

.donorfy-exclude-categories,
.donorfy-exclude-products {
    width: 100%;
}

.donorfy_settings span.description {
    display: block;
    margin-top: 10px;
}